body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.container {
  display: flex;
  margin: 0px 15px 0px 15px;
  overflow-x: hidden;
  justify-content: space-between;
}
.box {
  width: 100%;
  gap: 10px;
  display: flex;
}
.dados {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
.dados label,
.dados input {
  display: flex;
}
.dados input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
}
.dados button {
  width: 100%;
  background: #007bff;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}
.resultado {
  font-size: 22px;
  width: 100%;
  height: auto;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
}

footer {
  text-align: center;
  margin-top: 19px;
}

footer a {
  padding: 10px;
  color: #007bff;
  text-decoration: none;
}

/* Responsivo para telas menores que 600px */
@media (max-width: 600px) {
  .dados {
    width: 98%;
  }
  .box {
    width: 100%;
    flex-direction: column;
    font-size: 14px;
  }
}
